.outer-container {
    height: 100vh;
    border: 3px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.box {
    border: .5px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
}
button {
    width: 100px;
    height: 50px;
}
.grid-container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-auto-rows: minmax(auto, 50px);
}

.hover {
    background: gray;
}
